/*Overall app styling*/
body, html {
    width: 100%;
    height:100vh;
    background: #232323;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

#app {
    width: inherit;
    height: inherit;
}

.app-container{
    width: inherit;
    height:inherit;
    display: flex;
    flex-direction: column;
}

.content-container{
    flex: 1;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 450px;
}

h1 {
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

h2 {
    margin: 2px;
}

h4 {
    margin: 1px;
}

p {
    margin: 0px;
}

h1, h2, h3, h4, a, p, li {
    color: white;
}

button, textarea {
    font-size: 1em;
}

button {
    width: 200px;
}

.description-container {
    color: white;
    padding: 5%;
}

.process-description {
    font-size: 1.1em;
}

hr {
    border-width: 1px
}

/*Title bar*/
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #3b4c68;
    padding-left: 5%;
    padding-right: 5%;
}

.animation {
    animation-delay: 3s;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logo-container {
    margin-right: 10px;
}

/*Chatbot*/
label {
    color: white;
    font-size: inherit;
    font-family: inherit;
}

input {
    font-size: inherit;
    font-family: inherit;
}

.search-container {
    flex: 1;
    width: inherit;
    height: inherit;
}

.chatbox {
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-input-field {
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
}

.chat-message-container{
    display: flex;
    flex-direction: row;
    width: inherit;
}

.chat-message-container.left {
    justify-content: flex-start;
}

.chat-message-container.right {
    justify-content: flex-end;
}

.chat-history {
    color: white;
    flex: 1;
    overflow-y: scroll;
    max-height: 600px;
    margin-bottom: 10px;
}

.chat-message {
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.chat-message.us {
    background-color: #3b4c68;
    width: 70%;
}

.chat-message.you {
    width: 70%;
    right: 0;
}

/*Results*/
.product-row {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    .product-row {
        flex-direction: row;
        height: 150px;
        margin-bottom: 10px;
    }
    .chatbox {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.product-box {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #3b4c68;
    max-width: 100%;
    min-height: 150px;
    overflow: hidden;
    position: relative;
}

.product-image{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}

.product-description {
    background: #3b4c68;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    width: 50%;
    height: 100%;
    z-index: 5;
}

.select-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.select-item {
    margin: 5px;
}

.select-label {
    margin-right: 5px;
}

/*Footer bar*/
.footer {
    padding: 10px;
    height: auto;
    background:#3b4c68;
    margin-top: 10px;
}